@font-face {
    font-family: quicksand;
    src: url(fonts/quicksand-variablefont_wght-webfont.woff2) format("woff2"), url(/fonts/quicksand-variablefont_wght-webfont.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: kollektif;
    src: url(fonts/kollektif-webfont.woff2) format("woff2"), url(/fonts/kollektif-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(background/pages.webp);
    font-family: quicksand;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: kollektif;
    text-align: center;
}
p {
    font-size: 18px;
    text-align: justify;
}
.noselect, noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: #6cad0e;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    color: #fff !important;
    font-weight: 700;
}
a:active,
a:visited {
    color: #f622e3;
    font-weight: 700;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
header {
    margin-left: 8%;
    margin-right: 8%;
}
main {
    margin-left: 8%;
    margin-right: 8%;
}
footer {
    margin-left: 8%;
    margin-right: 8%;
}
.code, code {
    font-family: Consolas, "courier new";
    color: #dc143c;
    background-color: #f1f1f1;
    padding: 0.2%;
    font-size: 110%;
}

.nodrag-drop {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
a[target="_blank"] {
    position: relative;
}
a[target="_blank"]:after {
    position: absolute;
    top: 3px;
    right: -15px;
    content: "\1f855";
    font-size: 13px;
    color: #fff;
    line-height: 3px;
    height: 5px;
    width: 5px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}
a[target="_blank"]:before {
    position: absolute;
    top: 4px;
    right: -15px;
    content: " ";
    border: 1px solid #fff;
    width: 8px;
    height: 8px;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: #fff;
}
.closebtn {
    margin-left: 15px;
    color: #fff;
    font-weight: 700;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: #000;
}
.alert {
    display: none;
}
